.upp {
  text-transform: uppercase;
}
.heading-primary {
  color: white;
  font-size: 4rem;
  animation: animatedtext 1000ms ease 0.5s;
  // &:hover {
  // }
}
.animatetext {
  animation: animatedtext 1000ms infinite ease-in;
}
@keyframes animatedtext {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(470deg);
  }
  100% {
    transform: rotate(0);
  }
}
