@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$background: #111;
$border: 7px;
$animation-timing: 300ms;
$gradient: linear-gradient(
  to right bottom,
  rgba(#00b09b, 0.6),
  rgba(#96c93d, 0.7)
);
:root {
  --font-size: 16px;
  --color-primary: #f6f7fb;
  --color-secondary: #111;
  --color-tertiary: #fdc500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  // 62.5% hamma brauzerda 10px ga teng
}

body {
  font-family: "Lato", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: 0;
  cursor: pointer;
}

@import "./typography";
@import "./nav";
@import "./header.scss";
@import "./utils";
@import "./_animation";
